.faq{
    display: grid;
    justify-content: center;
    align-items: center;
    position:relative;
    top:4rem;
    background-color: whitesmoke;
    padding-top:6rem;
    padding-bottom:2rem;
    
}

.faq-head{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color:#3b3b80;
}

.faq-questions{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.faq-card {
    display: grid;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: ivory;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.faq-question{
    font-size: medium;
    font-weight: 600;
    padding-bottom: 1rem;

}
.faq-answer-hide{
    background-color:blue;
    
}
.faq-answer-show{
    display: grid;
    background-color: whitesmoke;
    padding:0.5rem;
    border-radius:0.5rem;
}

@media only screen and (min-width: 700px) {
    .faq-card{
        justify-content: flex-start;
    }
    
}