.headlines{
    position: relative;
    background-color: #0890F1;
    top:4.4rem;
    padding:1rem;
}
.headlines-text{
    font-family:'Courier New', Courier, monospace;
    font-size:2.5rem;
    font-weight: bolder;
    line-height: 3rem;
    color:white;
    background-color: #0890F1; 
    text-transform: uppercase;
}

