.us-nav {
    display: grid;
    /* align-items: center; */
    /* flex-direction: row; */
    background: #0890F1;
    color: #FFFFFF;
    padding: 40px 50px;
    transition: 250ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.scrolled {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D8DCDF;
}

.logo-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.logo{
    padding:0.1rem 0.2rem;
    position:absolute;
    top:-1rem;
    left: -1rem;
    font-size:1rem;
    color:white;
    background-color: blue;
    width:max-content;
    z-index: 1;
}
.logo-shadow {
    position: absolute;
    top: -0.28rem;
    left: -1rem;
    width: 10.56rem;
    height: 1.5rem;
    background-color: yellow;
}

.menu{
    display:flex;
    position: absolute;
    right:0rem;
    top:-1rem;
    width:50px;
}


.nav{
    position: absolute;
}
.no-drop-down{
    display: none;
}

.drop-down {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4rem;
    font-size: 2rem;
    font-weight: bolder;
    background-color: #FFD06D;
    gap: 3rem;
    padding: 0rem;
    cursor:pointer;
}
li{
    list-style: none;
}