
.refer-bg {
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    background-position: top;
    background-image:url('../images/refer-bg.jpg');
    width: 100%;
    height: 100%;
    position: relative;
    top: 4rem;
}
.refer-head {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: #3b3b80;
    background-color: #03092e;
    padding: 1.5rem;
}
.refer-head-services{
    color: #ffd06d !important;
}
.refer-body {
    color: #ffd06d;
    display: grid !important;
    /* text-align: start; */
    background: linear-gradient(93deg, #03092e, #171946, #2331d5, #23d5ab00);
    mix-blend-mode: luminosity;
}

.listIcon{
    width:2rem;
}
.numberingList{
    display: flex;
    justify-content: center;
    gap:0.2rem;
}