.customers-review {
    position: relative;
    background-color: rgb(219 215 215);
    top: 4rem;
    padding-top: 2rem;
}
.googleReview{
    position:relative;
}
.more-reviews-btn{
    display:flex;
    justify-content: center;
    align-items: center;
}